:root {
    --bg: #000;
    --fg: #dcdcdc;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    background: var(--bg);
    color: var(--fg)
}

.app {
    max-width: 900px;
    margin: 24px auto;
    padding: 16px
}

nav {
    margin-bottom: 12px
}